.heading_iq{
    color: rgb(221, 144, 0);
    font-size: larger;
    font-weight: bold;
}

.heading_text{
    color: black;
    font-weight: bold;
}

#find, #repl, #modifier{
    border-radius: 0;
}
